<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- DB 테이블과 컬럼들을 mapper 매핑을 위한 변수 선언-->
	<properties>
		<!-- 
		* property
		- name : mapper.xml에서 사용될 이름
		- value : DB 테이블 및 컬럼 이름
		
		
		 -->
		 
		 
		 <property name="test_board" value="test_board"/> 
		 <property name="boardId" value="board_id"/>
		 <property name="boardTitle" value="board_title"/>
		 <property name="boardContent" value="board_content"/>
		 <property name="memberId" value="member_id"/>
		 <property name="boardDateCreated" value="board_date_created"/>
		 <property name="replyCnt" value="reply_cnt"/>
	<!-- value = DB명 , name = 자바에서 쓸 이름 -->
	</properties>
	
	<!-- underscore 명명법을 camel 명명법으로 변환이 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- typeAlises : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	<typeAliases>
		<package name="edu.spring.ex02.domain"/>
	</typeAliases>
	



</configuration>